.card {
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 3px;

    .card-header {
        padding: 1rem;
        border-bottom: 1px solid #ddd;
    }
    .card-body {
        padding: 1rem;
    }
    .card-footer {
        padding: 1rem;
        border-top: 1px solid #ddd;
    }
}