header {
  border-bottom: 5px solid #3992eb;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}
header .navbar {
  display: flex;
  padding: 1rem;
  align-items: center;
}
header .navbar .logo {
  color: #0adba7;
  font-weight: 600;
  margin-right: 20px;
  font-size: 1.3rem;
}
header .navbar label {
  display: none;
}
header .navbar label img {
  width: 28px;
  height: auto;
}
header .navbar label + input {
  display: none;
}
header .navbar .collapse {
  display: flex;
  flex-grow: 1;
}
header .navbar .collapse .links {
  display: flex;
  margin-right: auto;
  margin-bottom: 5px;
}
header .navbar .collapse .links li {
  margin: 0 10px;
}
header .navbar .collapse .links a {
  color: #7b6c8d;
  font-weight: bold;
}
header .navbar .collapse .links a:hover {
  color: #16a005;
}
header .navbar .collapse .form a {
  border: 1px solid #16a005;
  border-radius: 0.3rem;
  padding: 0.3rem 1rem;
  color: #16a005;
}
header .navbar .collapse .form a.form-bg {
  background-color: #16a005;
  color: #fff;
}
@media only screen and (max-width: 960px) {
  header .navbar {
    flex-flow: row wrap;
  }
  header .navbar .logo {
    margin-right: auto;
  }
  header .navbar .logo + label {
    display: block;
    border: 1px solid #ddd;
    padding: 0.5rem;
    cursor: pointer;
  }
  header .navbar .logo + label + input:checked + .collapse {
    display: block;
  }
  header .navbar .collapse {
    display: none;
    flex-flow: column;
    width: 100%;
    transition: all 3s;
  }
  header .navbar .collapse .links {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  header .navbar .collapse .links li {
    margin: 0.5rem 0;
  }
}
