.navbar {
  display: flex;
  margin: 0 auto;
  width: 900px;
  height: 60px;
  background-color: skyblue;
  align-items: center;
  /* 恻轴上子元素的排列方式 */
}
.navbar ul {
  display: flex;
}
@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
}
